services:
  db:
    image: mariadb:latest
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: appdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - backend_net

  app:
    build: 
      context: ./app
      network: host
    container_name: app
    dns:
      - 8.8.8.8
      - 1.1.1.1
    environment:
      DB_HOST: db
      DB_USER: appuser
      DB_PASSWORD: apppass
      DB_NAME: appdb
    depends_on:
      - db
    networks:
      - frontend_net

  proxy:
    build: ./proxy
    container_name: proxy
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app
    networks:
      - frontend_net
      - backend_net

volumes:
  db_data:

networks:
  frontend_net:
  backend_net: